<%= link_to "Back", '/' %>

<h1>Log In Here!</h1>
<%= render partial: "layouts/error", locals: {object: @user}  %>
<%= form_tag('/login', method: "post") do %>
    <div class="lead"><%= label_tag :email %></div>
    <%= email_field_tag(:email) %><br><br>
    <div class="lead"><%= label_tag(:password, "Password") %></div>
    <%= password_field_tag(:password) %><br><br>

    <%= submit_tag "Log In" %>
<% end %>

