<h1>Log In Here!</h1>
<%= render partial: "layouts/error", locals: {object: @user}  %>

<%= form_tag('/login', method: "post") do %>
    <%= label_tag(:email, "Email:") %>
    <%= email_field_tag(:email) %><br><br>
    <%= label_tag(:password, "Password") %>
    <%= password_field_tag(:password) %><br><br>

    <%= submit_tag "Log In" %>
<% end %>