<%= form_for([@employer, @job]) do |f| %>
    <h3> Select a Job Category: </h3>
    <%= f.select :category, ["Construction", "IT", "Catering"] %><br><br>
    <%= f.label "Start Date:" %><br><br>
    <%= f.date_select :start_date %><br><br>
    <%= f.time_select :start_date, :ignore_date => true %><br><br>
    <%= f.label "End Date:" %><br><br>
    <%= f.date_select :end_date %><br><br>
    <%= f.time_select :end_date, :ignore_date => true %><br><br>
    <%= f.label "Rate:" %><br><br>
    <%= f.number_field :rate %><br><br>
    <%= f.label "Requirements (placeholder)" %><br><br>
    
    <%= f.submit "Post Job"%><br><br>
<% end %>