<%= @job.category %><br><br>
<%= @job.address %><br><br>
<%= @job.start_date %><br><br>
<%= @job.end_date %><br><br>
<%= @job.rate %><br><br>
<p>Current Crew:</p>
    <% if !!@job.users %>
        <% @job.users.each do |user| %>
            <p><%= user.name %></p>
        <% end %>
    <% end %>

<%= (button_to 'Add/Remove Job', {:controller => "jobs", :action => "add_or_remove_from_job", :job_id => params[:id]} , :method=>:post) if worker?%>
<%= link_to 'Edit Job', edit_job_path(@job) if user_created_job?(@job)%>
