<p>Category: <%= @job.category %></p>
<p>Employer: <%= @job.employer.company %></p>
<p>Address: <%= @job.address %></p
<p>Start: <%= start_date(@job) %></p>
<p>End: <%= end_date(@job) %></p>
<p>Rate: $<%= @job.rate %>0/hr</p><br>

<%= (button_to 'Add/Remove Job', {:controller => "jobs", :action => "add_or_remove_from_job", :job_id => params[:id]} , :method=>:post) if worker?%><br>

<% if @job.users.any? %>
    <p>Current Crew:</p>
    <ul>
    <% @job.users.each do |user| %>
        <li><%= worker_full_name(user) %></li>
    <% end %>
    </ul>
<% end %>

<%= link_to 'Edit Job', edit_job_path(@job) if user_created_job?(@job)%><br><br>
