  
<!DOCTYPE html>
<html>
  <head>
    <title>Hustle</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

  </head>
  

  <body class="l-box">
    <div>
      <%= link_to "Home", employer_path(current_user.id) if employer? %>
      <%= link_to "Home", user_path(current_user.id) if worker? %>
      <%= link_to "Jobs", jobs_path if logged_in? %>
      <%= link_to "Post a Job", new_employer_job_path(current_user) if employer? %>
      <%= link_to "Toolbox", tools_path if worker? %>


    </div>
  <%= show_logged_in %>


    <%= yield %>

    <br><br><%= button_to "Logout", logout_path, method: 'delete' if logged_in?%>
  </body>
</html>