  
<!DOCTYPE html>
<html>
  <head>
    <title>Hustle</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>

  </head>
  

  <body class="l-box">
    <div>
      <%= link_to "Jobs", jobs_path %> |
      <%= link_to "Post a Job", new_job_path if current_user_is_employer? %>
      <br><br><%= button_to "Logout", logout_path, method: 'delete' %> 
    </div>
  <%=show_logged_in%>


    <%= yield %>
  </body>
</html>