  
<!DOCTYPE html>
<html>
  <head>
    <title>Hustle</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
  </head>
  

  <body>
    <div class="container-fluid">
      <div class="navbar-text navbar-fixed-top mb-2"><%= "Signed in as " + show_logged_in if logged_in? %></div><br>
      
      <ul class="nav nav-tabs">
        <li class="pr-1"><%= link_to "Home", employer_path(current_user.id) if employer? %></li>
        <li class="pr-1"><%= link_to "Home", user_path(current_user.id) if worker? %></li><li>|</li>
        <li class="pl-1 pr-1"><%= link_to "Jobs", jobs_path if logged_in? %></li><li>|</li>
        <li class="pl-1"><%= link_to "Post a Job", new_employer_job_path(current_user) if employer? %></li>
        <li><%= link_to "Toolbox", tools_path if worker? %></li>
      </ul>
          
      <%= yield %>

      <ul class="nav navbar-nav navbar-bottom">
        <li><%= button_to "Logout", logout_path, method: 'delete', class: "btn btn-primary" if logged_in?%></li>
      </ul>
      
    </div>
  </body>
</html>